.avatar {
	width: 40px;
	border: 1px solid rgb(191, 219, 128);
	border-radius: 50%;
}

@media screen and (max-width: 424px) {
  .avatar {
    display: none;
  }
}

@media screen and (min-width: 880px) and (max-width: 949px) {
  .avatar {
    display: none;
  }
}