.wrapper {
	display: flex;
	align-items: flex-end;
	gap: 10px;
}

.image {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 10px;
	overflow: hidden;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.icons_list {
	height: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 6px;
}

.icons_item {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}

.icons_item_empty {
	width: 45px;
	height: 45px;
	border: 1px solid rgb(152, 152, 152);
	border-radius: 10px;
}

.figcaption {
	font-size: 12px;
	font-style: italic;
}

@media screen and (max-width: 560px) {
	.icons_list {
		height: 300px;
		width: 25px;
	}

	.icons_item {
		width: 25px;
		height: 25px;
	}
	
	.icons_item_empty {
		display: none;
	}
}