.link {
	color: rgb(0, 107, 230);
	text-decoration: underline;
}

.section__title {
	font-size: 40px;
	color: #647F94;
}

.hero-section {
	margin: 60px 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.hero-section__text-wrapper {
	max-width: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-section__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
}

.hero-section__subtitle {
	font-size: 40px;
	color: #647F94;
}

.hero-section__text {
	margin-top: 1.5em;
	line-height: 1.75em;
}

.hero-section__buttons {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.hero-section__button {
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
	text-decoration: none;
	border: 1px solid #647F94;
	border-radius: 8px;
	/* padding: .75rem 1.5rem; */
	width: 175px;
	height: 50px;
}

.hero-section__image-wrapper {
	max-width: 600px;
	min-width: 280px;
	overflow: hidden;
}

.hero-section__image {
	width: 100%;
	/* overflow: hidden; */
	border-radius: 8px;
	border: 1px solid #647F94;
}

.portfolio-section {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	/* display: grid; */
	/* grid-template-columns: 3fr 6fr 5fr; */
	gap: 2em;
}

.portfolio-section__about {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	background-color: #647F94;
	color: whitesmoke;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: .75rem 1.5rem;
	margin-top: .5rem;
}

.portfolio-section__white-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: .75rem 1.5rem;
	margin-top: .5rem;
}

.portfolio-section__card-title {
	font-size: 1.75em;
	font-weight: 600;
	line-height: 1.75em;
	padding-bottom: 20px;
}

.portfolio-section__card-list {
	list-style: inside;
}

.portfolio-section__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.portfolio-section__text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.portfolio-section__text {
	padding-bottom: 14px;
}

.portfolio-section__button {
	padding-top: 20px;
}

.blog-section {
	margin-top: 60px;
}


@media screen and (max-width: 320px) {



	
}

@media screen and (max-width: 375px) {
	
}

@media screen and (max-width: 425px) {
  .section__title {
    font-size: 30px;
  }

	.hero-section__title {
		margin-top: 40px;
		font-size: 32px;
	}

	.hero-section__subtitle {
		font-size: 26px;
	}

	.portfolio-section {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 1440px) {
	
}