.link {
	color: rgb(0, 107, 230);
	text-decoration: underline;
}

.section__title {
	margin-top: 60px;
	font-size: 40px;
	color: #647F94;
}

.hero-section {
	margin: 40px 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	gap: 20px;
}

.hero-section__content {
	max-width: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-section__text-wrapper {
	width: 100%;
}

.hero-section__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
}

.hero-section__subtitle {
	font-size: 40px;
	color: #647F94;
}

.hero-section__text {
	margin-top: 20px;
}

.hero-section__buttons {
	margin-top: 36px;
	display: flex;
	/* flex-wrap: wrap; */
	gap: 20px;
}

.hero-section__button {
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
	text-decoration: none;
	border: 1px solid #647F94;
	border-radius: 8px;
	max-width: 175px;
	min-width: 110px;
	width: 100%;
	height: 40px;
}

.hero-section__image-wrapper {
	max-width: 600px;
	min-width: 270px;
	overflow: hidden;
}

.hero-section__image {
	width: 600px;
	object-fit: contain;
	border-radius: 8px;
	border: 1px solid #647F94;
}

.portfolio-section {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.portfolio-section__kb-cards {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	gap: 10px;
}

.portfolio-section__about {
	width: 280px;
	display: flex;
	flex-direction: column;
	background-color: #647F94;
	color: whitesmoke;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: 10px 20px;
	margin-top: 10px;
}

.portfolio-section__projects {
	width: 570px;
	display: flex;
	flex-direction: column;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: 10px 20px;
	margin-top: 10px;
}

.portfolio-section__docs {
	width: 500px;
	display: flex;
	flex-direction: column;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: 10px 20px;
	margin-top: 10px;
}

.portfolio-section__docs_size-small {
	width: 280px;
}

.portfolio-section__card-title {
	font-size: 28px;
	font-weight: 600;
	line-height: 1.75;
	padding-bottom: 20px;
}

.portfolio-section__card-list {
	list-style: inside;
}

.portfolio-section__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 36px;
	height: 100%;
}

.portfolio-section__text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.portfolio-section__text {
	padding-bottom: 14px;
}

.portfolio-section__button {
	padding-top: 8px;
}

.blog-section {
	margin-top: 60px;
}

@media screen and (max-width: 320px) {
	.section__title {
		margin-top: 40px;
    font-size: 28px;
  }

	.hero-section {
		margin: 20px 0;
	}

	.hero-section__title {
		font-size: 28px;
	}

	.hero-section__subtitle {
		font-size: 20px;
	}

	.portfolio-section__about {
		width: 100%;
	}
}

@media screen and (min-width: 321px) and (max-width: 374px) {
	.section__title {
    font-size: 32px;
  }

	.hero-section__title {
		font-size: 32px;
	}

	.hero-section__subtitle {
		font-size: 26px;
	}

	.portfolio-section__about {
		width: 100%;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .section__title {
    font-size: 32px;
  }

	.hero-section__title {
		font-size: 32px;
	}

	.hero-section__subtitle {
		font-size: 26px;
	}

	/* .portfolio-section {
		display: flex;
		flex-wrap: wrap;
	} */
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.section__title {
    font-size: 32px;
  }

	.hero-section__title {
		font-size: 32px;
	}

	.hero-section__subtitle {
		font-size: 26px;
	}

	.portfolio-section__about {
		max-width: 600px;
		width: 100%;
	}

	.portfolio-section__projects {
		max-width: 600px;
		width: 100%;
	}

	.portfolio-section__docs {
		max-width: 600px;
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.hero-section__title {
		font-size: 32px;
	}

	.hero-section__subtitle {
		font-size: 26px;
	}
	
	.portfolio-section__projects {
		max-width: calc(100% - 300px);
		width: 100%;
	}

	.portfolio-section__docs {
		width: 100%;
	}

	.portfolio-section__docs_size-small {
		width: 230px;
	}

	.hero-section {
		flex-wrap: nowrap;
	}

	.hero-section__text-wrapper {
		width: 300px;
	}

	.hero-section__image {
		width: 580px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.hero-section {
		flex-wrap: nowrap;
	}

	.portfolio-section__projects {
		max-width: calc(100% - 300px);
		width: 100%;
	}

	.portfolio-section__docs {
		width: 100%;
	}

	.portfolio-section__docs_size-small {
		width: 300px;
	}
}