.hero-section {
	margin: 60px 0;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.hero-section__text-wrapper {
	max-width: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-section__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
}

.hero-section__subtitle {
	font-size: 40px;
	color: #647F94;
}

.hero-section__text {
	margin-top: 1.5em;
	line-height: 1.75em;
}

.hero-section__link {
	color: rgb(0, 107, 230);
	text-decoration: underline;
}

.hero-section__button {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #647F94;
	border-radius: 8px;
	padding: .75rem 1.5rem;
	margin-top: .5rem;
}

.hero-section__image {
	object-fit: cover;
	max-width: 600px;
	overflow: hidden;
	border-radius: 8px;
	border: 1px solid #647F94;
}